$space-sm: 5px;
$space-md: 10px;
$space-lg: 15px;

$font-size-md: 1em;
$font-size-lg: 1.2em;

$color-gray-dark: #100e0f;
$color-gray-main: #231f20;
$color-gray-light: #928f8f;

$color-primary: #eb9605;
$color-primary-light: #ffbf00;

$color-accent-light: #f79862;
$color-accent-main: #b3672b;
$color-accent-dark: #813f0b;
html {
  height: 100%;
  width: 100%;
}
body {
  background: $color-gray-main;
  color: $color-gray-light;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  color: #fff;
  text-align: center;
}

.page-container {
  height: 100%;
}

#root {
  height: 100%;
}
