$space-sm: 5px;
$space-md: 10px;
$space-lg: 15px;

html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  color: #fff;
  text-align: center;
}

.page-container {
  height: 100%;
}

#root {
  height: 100%;
}
