@import '../styles.scss';

.artistWrapper {
  display: flex;
  width: 100%;
}
img {
  border-radius: 2em;
  width: $img-lg;
  height: $img-lg;
  flex: 0 1 auto;
}
h2 {
  color: #fff;
}
.popular {
  padding: $space-lg;
  width: 100%
}
.donationBar {
  padding-top: $space-lg;
  width: 20em;
}
