@import '../styles.scss';

.icon-button {
  background: none;
  border: 0;
  cursor: pointer;
  color: $color-primary;
  padding: 0;

  &:hover {
    color: $color-primary-light;
  }

  &:focus,
  &:active {
    color: $color-primary-light;
    outline: 0;
  }
}