@import '../styles.scss';

.login-form {
  display: block;
  height: 100%;
  width: 100%;

  .login-background {
    background-image: url("../assets/background.png");
    background-size: cover;
    filter: blur(5px) brightness(0.4);
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .form-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;

    form {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: auto;
    
      input {
        margin: $space-sm;
      }

      a {
        width: 200px;
        margin: auto;
      }
    }
  }
}
