@import '../styles.scss';

.main-view-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .upper-content-container {
    display: flex;
    flex: 1 0 auto;

    .toolbar-wrapper {
      border-right: 1px solid $color-gray-dark;
    }

    .content-wrapper {
      flex: 1 1 auto;
      padding: $space-lg;
    }
  }
}
